﻿ .right-frame {
            float: right;
            width:40%;
            height:100%;
            /*border-left:1px solid black;*/

            }
    .right-frame .top-frame {
        width: 100%;
        height: 50%;
        /*border-bottom:1px solid black;*/
    }
     .right-frame .bottom-frame {
        width: 100%;
        height: 50%;
        margin-top:80px;
        /*border-top:1px solid black;*/
    }

#menu {
    /*padding-top: 100px;*/
    float: left;
}
#wrapper {
    width: 100%;
    height: 800px;
}
            #body {
                clear: both;
                width:100%;
                height: 70%;
                /*border:1px solid black;*/
            }

            ul li {
                display:inline;
                padding:20px;
                border:1px solid black;
                border-radius:4px 4px;
            }
                ul li:hover {
                    box-shadow:0 0 1px 1px #808080;
                    transition:step-end;
                }
            a:hover {
                color:red;
            }
            a {
            text-decoration:none;
            }
            .left-frame {
            float:left;
            width:59%;
            height:100%;

            }
            .float-right {
                float:right;
            }
.float-left {
    float: left;
}
            header {
                height:30%;
                width: 100%;
              
            }
                header .header-top {
                    width:100%;
                    height:70%;
                    border:1px solid black;
                    
                }
                header .header-bottom {
                    width:100%;
                    height:20%;                  
                           margin-top:10px;      
                }

.padding {
    padding:10px 10px 10px 10px;
}
