﻿.image {
    width:200px; 
    height:100%;
    float:left;
}
.module {
    height:200px; 
    border-bottom:1px solid black; 
    padding-left:50px; 

}
    .module:hover {
        box-shadow: 0 0 1px 1px #369835;
     
    }
.content {
    width:490px; 
    height:100%; 
    float:right;
    padding-left:10px
}
legend {
    font-size:20px;
    color:red;
}
 fieldset:hover {
         box-shadow: 0 0 1px 1px #808080;
    }
.padding-left {
    padding-left:40px
}

