﻿@model IEnumerable<final.Models.ThongTinBenh>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/View.css" rel="stylesheet" />

<fieldset>
    <legend>Thông tin bệnh</legend>
@foreach (var item in Model) {
   
    <div class="module">

       <div class="image">
             <img src="@item.HinhAnh" width="100%"  height="100%"/>
          
      </div>
    <div class="content">
        <div>
            <h2>@Html.ActionLink(item.TuaDe, "Details/" + item.ID, "ThongTinBenh")</h2>
           </div>
        <br />
   
            @Html.DisplayName(item.NoiDung.Substring(0,100))
        </div>
  </div>
}
</fieldset>