﻿@model IEnumerable<final.Models.TinNoiBat>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/View.css" rel="stylesheet" />

<h2>Tính BMI</h2>
<script lang="JavaScript">
    function xuat(cannang, chieucao)
    {
        var chc = eval(chieucao) / 100

        var bmi = (eval(cannang)) / (chc * chc)

        if(bmi < 18.5)
            return "Bạn đang thiếu cân"
        
        if (bmi > 18.5 && bmi < 25)
             return "Bạn bình thường"
            
        if(bmi > 25 && bmi < 30)
               return "Bạn bị thừa cân"
        if(bmi > 30)
               return "Bạn bị béo phì"
     }
</script>
<form id="nhap">
<table>
    <tr>
        <td>Cân nặng:</td><td><input type="text" id="cn"  name="cn"/></td><td> Kg</td>
    </tr>
    <tr>
        <td>Chiều cao:</td><td><input  type="text" id="cc" name="cc"/></td><td> Cm</td>
    </tr>
    
     <tr>
        <td><div id="kq" style="color:red"></div></td>
    </tr>
    
    <tr>
        <td><input  type="button" name="btn" value="Tính" onclick="kq.innerText=xuat(cn.value,cc.value)"/></td>
    </tr>
   
</table>
    </form>

<fieldset>
    <legend>Tin nổi bật</legend>

@foreach (var item in Model) {
   
    <div class="module">

       <div class="image">
             <img src="@item.HinhAnh" style="width:100%; height:100%;"/>
         
      </div>
    <div class="content">
        <div>
            <h2>@Html.ActionLink(item.TuaDe, "Details/" + item.ID, "TinNoiBat")</h2>
           </div>
       
            @Html.DisplayName(item.NoiDung.Substring(0,100))
        </div>
  </div>
}
    </fieldset>

