﻿@model final.Models.CheDoTapLuyen

@{
    ViewBag.Title = "Details";
}


 <div style="padding-left:40px">
        <div class="display-field">
            <h1>@Html.DisplayFor(model => model.TuaDe)</h1>
        </div>

    
        <div class="display-field">
            @Html.DisplayFor(model => model.NoiDung)
        </div>
  </div>
