﻿@model final.Models.HoiDap

@using (Html.BeginForm("Create", "HoiDap"))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Thêm hỏi đáp</legend>
        <div class="editor-label">
            Câu hỏi
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.TuaDe)
            @Html.ValidationMessageFor(model => model.TuaDe)
        </div>
        
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}


