﻿@model final.Models.BinhLuan


@using (Html.BeginForm("Create", "BinhLuan",FormMethod.Post, new { id = "my-form"}))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Thêm bình luận</legend>
         <div class="editor-label">
            Nội dung
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.NoiDung)
            @Html.ValidationMessageFor(model => model.NoiDung)
        </div>

         <div class="editor-label">
            Người gửi
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NguoiGui)
            @Html.ValidationMessageFor(model => model.NguoiGui)
        </div>
        @Html.Hidden("idpost",ViewData["idpost"])
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<script src="~/Scripts/themBinhLuan.js"></script>
