﻿@model final.Models.HoiDap

@{
    ViewBag.Title = "Details";
}

  
    <div class="display-field">
       <h1> @Html.DisplayFor(model => model.TuaDe) </h1>
    </div>

  
    <div class="display-field">
        @Html.DisplayFor(model => model.NoiDung)
    </div>
<br />
  
    <div class="display-field">
        <b>Từ: @Html.DisplayFor(model => model.NguoiGui)</b>
    </div>
<br />

<h2>Ý kiến bạn đọc</h2>
<div id="result">
    @foreach(var a in Model.BinhLuans.OrderByDescending(x=>x.NgayTao).Take(5))
    {
        
         <div class="display-field">
         <b> Ngày tạo: @Html.DisplayFor(x=>a.NgayTao)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => a.NoiDung)
    </div>
        
    <div class="display-field">
        <b>Từ: @Html.DisplayFor(model => a.NguoiGui)</b>
    </div>
        <br />
    }
</div>
<br />

@Html.Partial("_themBinhLuan",new final.Models.BinhLuan(), ViewData)

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
