﻿@model IEnumerable<final.Models.HoiDap>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/View.css" rel="stylesheet" />
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>


<fieldset>
    <legend>Hỏi đáp</legend>
@foreach (var item in Model.OrderByDescending(x=>x.NgayTao))
{    
    <div style="padding-left:50px; border-bottom:1px ridge black; height:150px;">
        <div>
            <h2>@Html.ActionLink(item.TuaDe, "Details/" + item.ID, "HoiDap")</h2>
           </div>
        <div>
           @if(item.NoiDung.Length>100){
                @Html.DisplayName(item.NoiDung.Substring(0,100))
            }
            else{
                @Html.DisplayFor(modelitem=>item.NoiDung)
            }
        </div>
        <br />
         <div>
            <b>@Html.DisplayFor(modelItem => item.NguoiGui)</b>
        </div>
  </div>
}
    </fieldset>

@if(Request.IsAuthenticated==true)
{
    @Html.Partial("_ThemHoiDap",new final.Models.HoiDap())
}

 @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}