﻿@model final.Models.BinhLuan

 <div class="display-field">
         <b> Ngày tạo: @Html.DisplayFor(model=>model.NgayTao)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoiDung)
    </div>
        
    <div class="display-field">
        <b>Từ: @Html.DisplayFor(model => model.NguoiGui)</b>
    </div>