﻿<!DOCTYPE html>
<html lang="en">
    <head>
    
        @Styles.Render("~/Content/Home.css")
        @Scripts.Render("~/bundles/modernizr")
         @Scripts.Render("~/bundles/jquery")

    </head>
    <body id="wrapper">
        <header>
             <div class="header-top">
                <img src="~/Content/Image/Untitled.jpg" width="100%" height="100%"/>
            </div>


                   <div class="header-bottom">
                            <div class="float-right">
                                <section id="login">
                                    @Html.Partial("_LoginPartial")
                                </section>
                            </div>


                        <ul id="menu" style=" padding-left:0px">
                            <li>@Html.ActionLink("Trang chủ", "Index", "TinNoiBat")</li>
                            <li>@Html.ActionLink("Thông tin bệnh", "Index", "ThongTinBenh")</li>
                            @if(Request.IsAuthenticated==false)
                            {
                                <li>@Html.ActionLink("Phương pháp điều trị", "Index", "PhuongPhapDieuTri")</li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Phương pháp điều trị", "Index", "PhuongPhapDieuTriLogin")</li>
                            }
       
                            <li>@Html.ActionLink("Tập luyện", "Index", "CheDoTapLuyen")</li>
                            <li>@Html.ActionLink("Hỏi đáp", "Index", "HoiDap")</li>
                            <li>@Html.ActionLink("Chia sẻ", "Index", "ChiaSe")</li>
                            
                             <li>@Html.ActionLink("Tin nhắn", "Create", "TinNhanGui")</li>                          
                        </ul>          
               </div>

           
    
        </header>

        <div id="body">
            @RenderSection("featured", required: false)
           <div class="left-frame">
                @RenderBody()
          </div>

            <div class="right-frame">
                <div class="top-frame">
                      @{Html.RenderAction("ChiTiet","ChiaSe");}
                </div>
                  <div class="bottom-frame">
                      @{Html.RenderAction("ChiTiet","HoiDap");}
                </div>
              
            </div>
        </div>
       

       
        @RenderSection("scripts", required: false)
    </body>
</html>
