﻿@model final.Models.TinNhanGui

@{
    ViewBag.Title = "Create";
}
<link href="~/Content/View.css" rel="stylesheet" />

@if (Request.IsAuthenticated == false)
{
    <div>Bạn cần phải đăng nhập  @Html.ActionLink("Đăng nhập","Login","Account") </div>    
   
}
else
{

using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Gửi tin nhắn</legend>

        <div class="editor-label">
            Nội dung
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NoiDung)
            @Html.ValidationMessageFor(model => model.NoiDung)
        </div>

        <div class="editor-label">
            Người nhận
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NguoiNhan)
            @Html.ValidationMessageFor(model => model.NguoiNhan)
        </div>

        <p>
            <input type="submit" value="Gửi tin nhắn" />
        </p>
    </fieldset>
}
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
