﻿@model Blog_5.Models.Comment

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>Comment</legend>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Body)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Body)
                @Html.ValidationMessageFor(model => model.Body)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.DayCreated)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DayCreated)
                @Html.ValidationMessageFor(model => model.DayCreated)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.DayUpdated)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DayUpdated)
                @Html.ValidationMessageFor(model => model.DayUpdated)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Author)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Author)
                @Html.ValidationMessageFor(model => model.Author)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.PostID)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PostID)
                @Html.ValidationMessageFor(model => model.PostID)
            </div>
    
            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
