﻿@model Blog_5.Models.Comment

<div class="display-field">
       <b>Ngày tạo: @Html.DisplayFor(model => model.DayCreated)</b>
    </div>

<div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>
