﻿@model Blog_5.Models.Comment

@using (Html.BeginForm("Create", "Comment", FormMethod.Post, new { id = "my-form" }))
{
    @Html.AntiForgeryToken();

    <fieldset>
        <legend>Add Comment</legend>
 
         <div class="editor-label">
            @Html.LabelFor(model => model.Body)
        </div>
        <div class="editor-field">
            
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.Author)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Author)
            @Html.ValidationMessageFor(model => model.Author)
        </div>

       @Html.Hidden("idpost", ViewData["idpost"])
        <p>
            <input type="submit" value="Create" id="btn" />
        </p>
    </fieldset>
}


@*<script src="~/Scripts/addComment.js"></script>*@

@*<script src="~/Scripts/JavaScript.js"></script>*@
