﻿@model Blog_5.Models.Post

@{
    ViewBag.Title = "Details";
}
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
</fieldset>




<fieldset>
    <legend>Post</legend>
    <h2>Tags</h2>
    @foreach(var a in Model.Tags)
    {
       
        <div class="display-field">

            @Html.ActionLink(a.Content.ToString(), "Details/"+a.ID, "Tag")
    </div>
    }
    </fieldset>




<fieldset>
    <legend>Comment</legend>
    <h2>Comment</h2>

    <div id="result">
    @foreach (var com in Model.Comments.OrderByDescending(x=>x.DayCreated).Take(10))
    {
         <div class="display-field">
         <b> Ngày tạo: @Html.DisplayFor(x=>com.DayCreated)</b>
    </div>
        
        <div class="display-field">
         @Html.DisplayFor(a=>com.Body)
    </div><br />
        
    }
        </div>
     </fieldset>

<h2>Create Comment</h2>
@Html.Partial("_addComment",new Blog_5.Models.Comment(), ViewData)

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
