﻿@model final.Models.ChiaSe

@using (Html.BeginForm("Create", "ChiaSe"))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Thêm chia sẻ</legend>
        <div class="editor-label">
           Tựa đề
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TuaDe)
            @Html.ValidationMessageFor(model => model.TuaDe)
        </div>
         <div class="editor-label">
            Nội dung
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.NoiDung)
            @Html.ValidationMessageFor(model => model.NoiDung)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}




