﻿@model IEnumerable<final.Models.ChiaSe>

<style>
   legend {
    font-size:20px;
    color:red;
}
 fieldset:hover {
         box-shadow: 0 0 1px 1px #808080;
    }
</style>


<fieldset>
     <legend>Chia sẻ</legend>
@foreach (var item in Model.OrderByDescending(x=>x.NgayTao).Take(2)) {
     <div style="padding-left:10px; border-bottom:1px ridge black; height:140px">
        <div>
            <h2>@Html.ActionLink(item.TuaDe, "Details/" + item.ID, "ChiaSe")</h2>
           </div>
        <div>

            @if(item.NoiDung.Length>100){
                @Html.DisplayName(item.NoiDung.Substring(0,100))
            }
            else{
                @Html.DisplayFor(modelitem=>item.NoiDung)
            }
        </div>
        <br />
         <div>
            <b>@Html.DisplayFor(modelItem => item.NguoiGui)</b>
        </div>
  </div>
}
    </fieldset>
