﻿@model final.Models.ChiaSe

@{
    ViewBag.Title = "Details";
}



<div>
        <div class="display-field">
            <h1>@Html.DisplayFor(model => model.TuaDe)</h1>
        </div>

   
        <div class="display-field">
            @Html.DisplayFor(model => model.NoiDung)
        </div>
    <br />
   
        <div class="display-field">
            <b>Từ: @Html.DisplayFor(model => model.NguoiGui)</b>
        </div>

</div>

