﻿@model IEnumerable<final.Models.ChiaSe>

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery.validate.js"></script>
<link href="~/Content/View.css" rel="stylesheet" />
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<fieldset>
    <legend>Chia sẻ</legend>
@foreach (var item in Model.OrderByDescending(x=>x.NgayTao)) {
    
    <div style="padding-left:50px; border-bottom:1px ridge black; height:150px">
        
        <div>
            <h2>@Html.ActionLink(item.TuaDe, "Details/" + item.ID, "ChiaSe")</h2>
           </div>
        
        <div>
            @if(item.NoiDung.Length>100){
                @Html.DisplayName(item.NoiDung.Substring(0,100))
            }
            else{
                @Html.DisplayFor(modelitem=>item.NoiDung)
            }
        </div>
        <br />
         <div>
            <b>@Html.DisplayFor(modelItem => item.NguoiGui)</b>
        </div>
  </div>
}
    </fieldset>
@if(Request.IsAuthenticated==true)
{
@Html.Partial("_themChiaSe",new final.Models.ChiaSe())
}

    @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}