﻿@model Blog_5.Models.Tag

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Tag</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Content)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Content)
    </div>
</fieldset>



<fieldset>
    <legend>Tag</legend>
        @foreach (var b in Model.Posts)
        {
            <b>Post</b>
    <div class="display-field">
        @Html.DisplayFor(x => b.Title)
    </div><br />
    }
    </fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
