﻿@model IEnumerable<Blog_5.Models.Tag>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>
<p>

    @using (@Html.BeginForm())
    {
        <p>
            Content: @Html.TextBox("searchString") <br />
            <input  type="submit" value="Search"/>
        </p>
    }
</p>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.First().Posts) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
         
        </td>
    </tr>
}

</table>
