﻿@model final.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">

</hgroup>
<link href="~/Content/View.css" rel="stylesheet" />
<section id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Đăng nhập</legend>
        <ol>
            <div style="margin-bottom:10px">
                Tên người dùng
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div style="margin-bottom:10px">
                Mật khẩu
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
           </div>
            <div style="margin-bottom:10px">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </div>
        </ol>
        <input type="submit" value="Đăng nhập" />
    </fieldset>
    <p>
        @Html.ActionLink("Đăng kí", "Register") nếu bạn chưa có tài khoản.
    </p>
}
</section>

@*<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
