﻿@model final.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}
<link href="~/Content/View.css" rel="stylesheet" />
<hgroup class="title">

    <h2>Tạo tài khoản mới.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Đăng kí</legend>
        <ol>
            <div style="margin-bottom:10px">
                Tên người dùng
                @Html.TextBoxFor(m => m.UserName)
            </div>
            <div style="margin-bottom:10px">
                Mật khẩu
                @Html.PasswordFor(m => m.Password)
            </div>
            <div style="margin-bottom:10px">
                Xác nhận mật khẩu
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
        </ol>
        <input type="submit" value="Đăng kí" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
