﻿@model final.Models.PPDieuTri_Login

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>PPDieuTri_Login</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PhuongPhapDieuTri)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhuongPhapDieuTri)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CheDoDinhDuong)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CheDoDinhDuong)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
