﻿@model IEnumerable<final.Models.PPDieuTri_Login>

@{
    ViewBag.Title = "Index";
}
  

@foreach (var item in Model) {
    <div>
        <div>
            <h3>@Html.DisplayName("Phương pháp giảm cân")</h3><br />
            @Html.DisplayFor(modelItem => item.PhuongPhapDieuTri)
        </div>
        <div>
           <h3> @Html.DisplayName("Chế độ dinh dưỡng")</h3><br />
            @Html.DisplayFor(modelItem => item.CheDoDinhDuong)
        </div>
    
    </div>
}

